.asset_button{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #444;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.main{
    position: block;
    margin-left: 640px;
}
div.main div{
    margin: 25px 0px 25px 0;
}
div.text{
    padding-left: 30px;
}
.button_group{
    margin-left: 55px !important;
}